# Ignore everything
*

# But not these files...
!spring_01/**
!spring_02/**
!spring_03/**
!spring_04/**
!spring_05/**
!toby/**
!.gitignore
!*.jar
# ...even if they are in subdirectories
!*/

# re except some extensions
*.swf
*.TTF
*.eot
*.woff
*.class
*.scssc
*.scss
*.tmp
*.rb
*.md
*.woff2
*.cur
*.min.js
*.css
*.pkg
*.otf

#ignore class folder